<template>
  <div class="">
    <div class="">
      label type ：{{ typeofResult }}
    </div>
    <slot :label="label" />
  </div>
</template>

<script setup lang="ts" generic="T">
/**
 * 詳細說明請見：https://blog.vuejs.org/posts/vue-3-3
 */
import { computed, ref } from 'vue';

interface Props {
  label: T;
}
const props = withDefaults(defineProps<Props>(), {});

const emit = defineEmits<{
  'update:label': [value: T]
}>();

defineSlots<{
  default?: (props: { label: T }) => any
}>();

const typeofResult = computed(() => typeof props.label);
const label = computed(() => props.label);
</script>

<style scoped lang="sass">
</style>
